.app {
 background-image: url('../assets/pngegg.png');
 -webkit-background-size: 20%;
 -moz-background-size: 20%;
 -o-background-size: 20%;
 background-size: 20%;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-color: black;
 height: 100vh;
}

.home {
  padding: 5% 5% 0%;
}
